In [3]:
import pandas as pd
import findspark
findspark.init('../../spark-2.0.2-bin-hadoop2.7/')
from pyspark import SparkContext, SQLContext

In [4]:
%load_ext autoreload
%autoreload 1
%aimport recommendation
from recommendation.item_similarity import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
sc = SparkContext(master='local')
hc = SQLContext(sc)

In [6]:
item_user_rating = hc.createDataFrame(
    [(0, 1, 4), (0, 2, 2), 
     (1, 1, 3), (1, 2, 4), 
     (2, 1, 1), (2, 2, 5), 
     (3, 2, 5), (3, 3, 5),
     (4, 4, 2), (4, 3, 3)],
    ["user", "item", "rating"])

item_user_ranking_df = item_user_rating.toPandas()\
    .set_index(['user','item']).unstack().fillna(0)

In [7]:
ddf = item_cosine_similarity(item_user_rating)

In [8]:
ddf.toPandas()

   item  item_other       sim
0     3           4  0.514496
1     4           3  0.514496
2     2           3  0.512450
3     3           2  0.512450
4     1           2  0.586009
5     2           1  0.586009

In [9]:
from scipy.spatial.distance import cosine
from itertools import product
cosine_sim_true = pd.DataFrame(columns=['sim','item','item_other'])\
            .set_index(['item','item_other'])
            
for item_pairs in list(product(*[item_user_ranking_df['rating'].columns]*2)):
    item = item_pairs[0]
    item_other = item_pairs[1]
    if item!=item_other:
        sim = 1-cosine(item_user_ranking_df['rating'][item].values,
                       item_user_ranking_df['rating'][item_other].values)
        if sim>0:
            cosine_sim_true.loc[item_pairs,'sim']= sim

In [11]:
cosine_sim_true.reset_index().sort_values(by=['item','item_other'])

   item  item_other       sim
0     1           2  0.586009
1     2           1  0.586009
2     2           3   0.51245
3     3           2   0.51245
4     3           4  0.514496
5     4           3  0.514496

In [13]:
ddf.toPandas().sort_values(by=['item','item_other'])

   item  item_other       sim
4     1           2  0.586009
5     2           1  0.586009
2     2           3  0.512450
3     3           2  0.512450
0     3           4  0.514496
1     4           3  0.514496